.nav-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    >div {
        height: 40px;
        line-height: 40px;
    }

    .icon {
        flex: 0 0 40px;
        z-index: 1;
    }

    .nav-title {
        flex: 1;
        text-align: center;
        font-family: JosefinSans-Bold;
        font-size: 4.2vw;
        color: #171717;
    }
}

.nav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 13.333vw;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    background-color: #fff;
    div {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        color: #7d7e80;
        text-align: center;

        .fa {
            font-size: 5vw;
            font-weight: normal;
            margin-bottom: 4px;
        }

        .fa-a {
            font-size: 4vw;
        }

        span {
            font-size: 12px;
        }
    }

    .active {
        color: #e0322b;
    }
}

// GoodsItem
.goods-item {
    height: 26.667vw;
    display: flex;
    padding: 2.667vw 4vw;
    box-sizing: border-box;
    position: relative;

    .lefts {
        flex: 0 0 30%;
        width: 30%;
        height: 90%;

        img {
            width: 100%;
            height: 100%;
            box-shadow: 0 0.533vw 2.133vw #f0f1f2;

        }
    }

    .right {
        flex: 1;
        position: relative;
        .name {
            margin-bottom: 5.333vw;
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 3.467vw;
            text-align: left;
            padding-left: 5.333vw;
        }

        .price {
            text-align: left;
            padding-left: 5.333vw;

            .pic {
                color: red;
                font-weight: 700;
                margin-right: 1.333vw;
                font-size: 14px;
            }

            .orl-pic {
                text-decoration: line-through;
                font-size: 3.467vw;
            }
            .count {
                float: right;
            }
        }
        .fa-close {
            position: absolute;
            bottom: 5px;
            padding: 10px;
            right: 5px;
            color: #7d7e80;
        }
    }
}
.nav-headers {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    color: #333;
}